node_modules/
output/
.openchamber/screenshots/
.playwright-cli/
*.log
dist/
storybook-static/
.vite/
.vite-plus/
.cache/
coverage/
test-results/
.vitest-attachments/
playwright-report/
*.tsbuildinfo
.DS_Store
/packages/*/LICENSE
/packages/*/THIRD_PARTY_NOTICES
